<mat-toolbar  class="navbar">
    <mat-toolbar-row fxLayoutAlign="space-around center">
        <app-brand></app-brand>
        <app-insta-input></app-insta-input>
        <div class="icons" fxLayoutAlign="default center">
            <ul class="list-icons">
                <li><a href=""> <i class="fa fa-compass"></i></a></li>
                <li><a href=""> <i class="fa fa-heart-o"></i> </a></li>
                <li><a href=""> <i class="fa fa-user-o"></i> </a></li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


