.card {
    width: 60%;
    margin: 30px;
}
.main-title {
    font-size: 12px;
}
.header {
    display: flex;
    align-items: center;
}
.more-button {
    position: absolute;
    right: 10px;
}
.img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.action-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.action-button {
    background: inherit;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.button-style {
    background: inherit;
    border: none;
    cursor: pointer;
}

.options-list {
    list-style: none;
    text-decoration: none;
    width:100%;
}

.options-list li {
    text-align:center;
    font-size: 1.5em;
    border-bottom: 1px solid #ababab;
    width: inherit;
    padding: 3px;
}

.options-list li:last-child {
    
    border: none;
}

.danger {
    color: #ed4956;
    font-weight: bolder;
}
