<mat-card class="card">
    <mat-card-header class="header">
        <img mat-card-avatar class="img-avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        <div class="title-group">
            <mat-card-title class="main-title">edna_brigida</mat-card-title>
            <mat-card-subtitle>Aparecida do Oeste, Paraná</mat-card-subtitle>
        </div>
        <div class="more-button">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </div>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>