.input-container {
    width: 15vw;
    height: 25px;
    background: #f9f9f9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ababab;
    cursor: text;
}

.input-container input {
    height: 23px;
    width: 70%;
    border: none;
    margin-left: 5px;
}

.input-container input:focus {
    outline-width: 0;
}

.input-container span {
    font-size: 12px;
    color: #808080;
}

.input-container span i {
    font-size: 12px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-group i {
    font-size: 12px;
    color: #808080;
}

.input-group button {
    background: #fff;
    border: none;
    cursor: pointer;
}

.background-color-white {
    background: #fff ;
}

